

<div class="container">
  <div class="row">
    <div class="col-3">
      <input type="text" class="form-control" placeholder="Goal">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-success"> ✔ </button>
        <button type="button" class="btn btn-danger"> ❌ </button>
      </div>
      <a class="btn btn-primary" href="#" role="button"> + </a>
      <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Reinforcer
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <p class="dropdown-item" href="#">Reinforcer # 1</p>
    <p class="dropdown-item" href="#">Reinforcer # 2</p>
    <p class="dropdown-item" href="#">Reinforcer # 3</p>
  </div>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Identifier # 1
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Identifier # 2
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Identifier # 3
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Identifier # 4
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Identifier # 5
  </label>
</div>
</div>
  <div class="col">
      <a class="btn btn-primary" href="#" role="button">Add Goal</a>
    </div>
</div>
</div>

