<div class="col-3">
  <input type="text" class="form-control" placeholder="Goal">
    <div class="btn-group" role="group" aria-label="Basic example">
       <form action="/check" method="POST">
        <button type="button" class="btn btn-success" data-toggle ="button" aria-pressed="false" autocomplete="off"> ✔ </button>
      </form>
      <form action="/cross" method="POST">
        <button type="button" class="btn btn-danger" data-toggle ="button" aria-pressed="false" autocomplete="off"> ❌ </button>
      </form>     
    </div>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Reinforcer
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <p class="dropdown-item" href="#">Positive Reinforcement</p>
    <p class="dropdown-item" href="#">Verbal Praise</p>
    <p class="dropdown-item" href="#">Food Reinforcer</p>
  </div>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Visual Prompt
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Auditory Prompt
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Tactile Prompt
  </label>
</div>

<div class="btn-group" role="group" aria-label="Basic example">
       <form action="/check" method="POST">
        <button type="button" class="btn btn-success" data-toggle ="button" aria-pressed="false" autocomplete="off"> ✔ </button>
      </form>
      <form action="/cross" method="POST">
        <button type="button" class="btn btn-danger" data-toggle ="button" aria-pressed="false" autocomplete="off"> ❌ </button>
      </form>  
    </div>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Reinforcer
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <p class="dropdown-item" href="#">Positive Reinforcement</p>
    <p class="dropdown-item" href="#">Verbal Praise</p>
    <p class="dropdown-item" href="#">Food Reinforcer</p>
  </div>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Visual Prompt
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Auditory Prompt
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Tactile Prompt
  </label>
</div>

<div class="btn-group" role="group" aria-label="Basic example">
       <form action="/check" method="POST">
        <button type="button" class="btn btn-success" data-toggle ="button" aria-pressed="false" autocomplete="off"> ✔ </button>
      </form>
      <form action="/cross" method="POST">
        <button type="button" class="btn btn-danger" data-toggle ="button" aria-pressed="false" autocomplete="off"> ❌ </button>
      </form> 
    </div>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Reinforcer
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <p class="dropdown-item" href="#">Positive Reinforcement</p>
    <p class="dropdown-item" href="#">Verbal Praise</p>
    <p class="dropdown-item" href="#">Food Reinforcer</p>
  </div>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Visual Prompt
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Auditory Prompt
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Tactile Prompt
  </label>
</div>

<div class="btn-group" role="group" aria-label="Basic example">
       <form action="/check" method="POST">
        <button type="button" class="btn btn-success" data-toggle ="button" aria-pressed="false" autocomplete="off"> ✔ </button>
      </form>
      <form action="/cross" method="POST">
        <button type="button" class="btn btn-danger" data-toggle ="button" aria-pressed="false" autocomplete="off"> ❌ </button>
      </form>  
    </div>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Reinforcer
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <p class="dropdown-item" href="#">Positive Reinforcement</p>
    <p class="dropdown-item" href="#">Verbal Praise</p>
    <p class="dropdown-item" href="#">Food Reinforcer</p>
  </div>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Visual Prompt
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Auditory Prompt
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Tactile Prompt
  </label>
</div>

<div class="btn-group" role="group" aria-label="Basic example">
       <form action="/check" method="POST">
        <button type="button" class="btn btn-success" data-toggle ="button" aria-pressed="false" autocomplete="off"> ✔ </button>
      </form>
      <form action="/cross" method="POST">
        <button type="button" class="btn btn-danger" data-toggle ="button" aria-pressed="false" autocomplete="off"> ❌ </button>
      </form> 
    </div>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Reinforcer
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <p class="dropdown-item" href="#">Positive Reinforcement</p>
    <p class="dropdown-item" href="#">Verbal Praise</p>
    <p class="dropdown-item" href="#">Food Reinforcer</p>
  </div>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Visual Prompt
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Auditory Prompt
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Tactile Prompt
  </label>
</div>

<div class="btn-group" role="group" aria-label="Basic example">
      <form action="/check" method="POST">
        <button type="button" class="btn btn-success" data-toggle ="button" aria-pressed="false" autocomplete="off"> ✔ </button>
      </form>
      <form action="/cross" method="POST">
        <button type="button" class="btn btn-danger" data-toggle ="button" aria-pressed="false" autocomplete="off"> ❌ </button>
      </form> 
    </div>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Reinforcer
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <p class="dropdown-item" href="#">Positive Reinforcement</p>
    <p class="dropdown-item" href="#">Verbal Praise</p>
    <p class="dropdown-item" href="#">Food Reinforcer</p>
  </div>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Visual Prompt
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Auditory Prompt
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Tactile Prompt
  </label>
</div>

<div class="btn-group" role="group" aria-label="Basic example">
       <form action="/check" method="POST">
        <button type="button" class="btn btn-success" data-toggle ="button" aria-pressed="false" autocomplete="off"> ✔ </button>
      </form>
      <form action="/cross" method="POST">
        <button type="button" class="btn btn-danger" data-toggle ="button" aria-pressed="false" autocomplete="off"> ❌ </button>
      </form> 
    </div>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Reinforcer
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <p class="dropdown-item" href="#">Positive Reinforcement</p>
    <p class="dropdown-item" href="#">Verbal Praise</p>
    <p class="dropdown-item" href="#">Food Reinforcer</p>
  </div>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Visual Prompt
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Auditory Prompt
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Tactile Prompt
  </label>
</div>

<div class="btn-group" role="group" aria-label="Basic example">
       <form action="/check" method="POST">
        <button type="button" class="btn btn-success" data-toggle ="button" aria-pressed="false" autocomplete="off"> ✔ </button>
      </form>
      <form action="/cross" method="POST">
        <button type="button" class="btn btn-danger" data-toggle ="button" aria-pressed="false" autocomplete="off"> ❌ </button>
      </form> 
    </div>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Reinforcer
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <p class="dropdown-item" href="#">Positive Reinforcement</p>
    <p class="dropdown-item" href="#">Verbal Praise</p>
    <p class="dropdown-item" href="#">Food Reinforcer</p>
  </div>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Visual Prompt
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Auditory Prompt
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Tactile Prompt
  </label>
</div>

<div class="btn-group" role="group" aria-label="Basic example">
      <form action="/check" method="POST">
        <button type="button" class="btn btn-success" data-toggle ="button" aria-pressed="false" autocomplete="off"> ✔ </button>
      </form>
      <form action="/cross" method="POST">
        <button type="button" class="btn btn-danger" data-toggle ="button" aria-pressed="false" autocomplete="off"> ❌ </button>
      </form> 
    </div>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Reinforcer
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <p class="dropdown-item" href="#">Positive Reinforcement</p>
    <p class="dropdown-item" href="#">Verbal Praise</p>
    <p class="dropdown-item" href="#">Food Reinforcer</p>
  </div>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Visual Prompt
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Auditory Prompt
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Tactile Prompt
  </label>
</div>

<div class="btn-group" role="group" aria-label="Basic example">
      <form action="/check" method="POST">
        <button type="button" class="btn btn-success" data-toggle ="button" aria-pressed="false" autocomplete="off"> ✔ </button>
      </form>
      <form action="/cross" method="POST">
        <button type="button" class="btn btn-danger" data-toggle ="button" aria-pressed="false" autocomplete="off"> ❌ </button>
      </form> 
    </div>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Reinforcer
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <p class="dropdown-item" href="#">Positive Reinforcement</p>
    <p class="dropdown-item" href="#">Verbal Praise</p>
    <p class="dropdown-item" href="#">Food Reinforcer</p>
  </div>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Visual Prompt
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Auditory Prompt
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">
    Tactile Prompt
  </label>
</div>


<form action="/percentage" method="POST">
  <button type="button" class="btn btn-primary">Submit</button>
</form>