<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Welcome to ɡōl trak!</h1>
    <p>A tool created in order to assist speech therapy and help facilitate the tracking of goals set during a therapy session.</p>    
  </div>
</div>

